.container-fluid {
  width: 100%;
  padding-right: 0px!important;
  padding-left: 0px!important;
  margin-right: auto;
  margin-left: auto;
}
.no-gutters {
    margin-right:0px!important;
    margin-left: 0px!important;
  }
  
.progress-bar {
    width: 70%;
    border: 1px solid #cacaca;
    border-radius: .0rem;
    height: 0.8em; 
}
.svg-inline--fa.fa-w-14 {
    width: 8.875em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1.6em;
    overflow: visible;
    vertical-align: -.125em;
    margin: 10px 0px 10px 0px;
}


  .center-input{
    display: flex;
    justify-content: center;
    padding: 8px 1px 8px 0px;
  }
  .input-md{
    border-radius: 0px!important;
  }